Repository parikshitpisal/circa-boybz6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ml-team, @frontend-team, @devops-team, @data-team, @qa-team

Add public-samples/circa-boybz6/src/backend/services/email-service/src/handlers/attachment.handler.ts
  src/backend/services/email-service/src/handlers/attachment.handler.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/src/handlers/email.handler.ts
  src/backend/services/email-service/src/handlers/email.handler.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/src/interfaces/email.interface.ts
  src/backend/services/email-service/src/interfaces/email.interface.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/src/services/imap.service.ts
  src/backend/services/email-service/src/services/imap.service.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/src/services/smtp.service.ts
  src/backend/services/email-service/src/services/smtp.service.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/src/utils/email.validator.ts
  src/backend/services/email-service/src/utils/email.validator.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/tests/integration/email.test.ts
  src/backend/services/email-service/tests/integration/email.test.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/services/email-service/tests/unit/handlers/email.handler.test.ts
  src/backend/services/email-service/tests/unit/handlers/email.handler.test.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/shared/constants/index.ts
  src/backend/shared/constants/index.ts
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/database/migrations/001_initial_schema.sql
  src/backend/shared/database/migrations/001_initial_schema.sql
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/database/migrations/002_add_document_tables.sql
  src/backend/shared/database/migrations/002_add_document_tables.sql
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/database/migrations/003_add_webhook_tables.sql
  src/backend/shared/database/migrations/003_add_webhook_tables.sql
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/database/seeds/test_data.sql
  src/backend/shared/database/seeds/test_data.sql
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/interfaces/common.ts
  src/backend/shared/interfaces/common.ts
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/schemas/application.schema.ts
  src/backend/shared/schemas/application.schema.ts
Owners: @backend-team, @data-team, @security-team

Add public-samples/circa-boybz6/src/backend/shared/schemas/document.schema.ts
  src/backend/shared/schemas/document.schema.ts
Owners: @backend-team, @data-team, @security-team

Add public-samples/circa-boybz6/src/backend/shared/schemas/webhook.schema.ts
  src/backend/shared/schemas/webhook.schema.ts
Owners: @backend-team, @data-team, @security-team

Add public-samples/circa-boybz6/src/backend/shared/utils/encryption.ts
  src/backend/shared/utils/encryption.ts
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @backend-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/.env.development
  src/web/.env.development
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/.env.production
  src/web/.env.production
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/.env.staging
  src/web/.env.staging
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/assets/styles/global.css
  src/web/src/assets/styles/global.css
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/assets/themes/dark.ts
  src/web/src/assets/themes/dark.ts
Owners: @frontend-team, @security-team

Add public-samples/circa-boybz6/src/web/src/assets/themes/light.ts
  src/web/src/assets/themes/light.ts
Owners: @frontend-team, @security-team

.github/CODEOWNERS:

*                                               @project-leads

# Backend service ownership
src/backend/                                    @backend-team @security-team
src/backend/services/document-processor/        @ml-team @backend-team @security-team
src/backend/services/email-service/             @backend-team @security-team
src/backend/shared/                            @backend-team @security-team @project-leads

# Frontend application
src/web/                                       @frontend-team @security-team

# Infrastructure and deployment
infrastructure/                                @devops-team @security-team @project-leads
infrastructure/kubernetes/                     @devops-team @security-team
infrastructure/terraform/                      @devops-team @security-team @project-leads
.github/workflows/                             @devops-team @security-team

# Database schemas and data models
**/*.schema.ts                                 @backend-team @data-team @security-team

# Security-critical code
**/security*.ts                               @security-team @project-leads

# Test framework and coverage
**/test/**                                    @qa-team @security-team
