Repository parikshitpisal/circa-boybz6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @ml-team, @frontend-team, @devops-team, @data-team, @qa-team

.github/CODEOWNERS:

*                                               @project-leads

# Backend service ownership
src/backend/                                    @backend-team @security-team
src/backend/services/document-processor/        @ml-team @backend-team @security-team
src/backend/services/email-service/             @backend-team @security-team
src/backend/shared/                            @backend-team @security-team @project-leads

# Frontend application
src/web/                                       @frontend-team @security-team

# Infrastructure and deployment
infrastructure/                                @devops-team @security-team @project-leads
infrastructure/kubernetes/                     @devops-team @security-team
infrastructure/terraform/                      @devops-team @security-team @project-leads
.github/workflows/                             @devops-team @security-team

# Database schemas and data models
**/*.schema.ts                                 @backend-team @data-team @security-team

# Security-critical code
**/security*.ts                               @security-team @project-leads

# Test framework and coverage
**/test/**                                    @qa-team @security-team

Add public-samples/circa-boybz6/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @devops-team, @security-team

Add public-samples/circa-boybz6/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/development/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/environments/development/terraform.tfvars
  infrastructure/terraform/environments/development/terraform.tfvars
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/compute/main.tf
  infrastructure/terraform/modules/compute/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/compute/outputs.tf
  infrastructure/terraform/modules/compute/outputs.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/compute/variables.tf
  infrastructure/terraform/modules/compute/variables.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/storage/main.tf
  infrastructure/terraform/modules/storage/main.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/storage/outputs.tf
  infrastructure/terraform/modules/storage/outputs.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/infrastructure/terraform/modules/storage/variables.tf
  infrastructure/terraform/modules/storage/variables.tf
Owners: @devops-team, @security-team, @project-leads

Add public-samples/circa-boybz6/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/.env.development
  src/backend/.env.development
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/.env.production
  src/backend/.env.production
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/.env.staging
  src/backend/.env.staging
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/lerna.json
  src/backend/lerna.json
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team

Add public-samples/circa-boybz6/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @security-team
